body,html{
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	font-size: 0.95em;
	text-align: center;
	
}
#chart{
	margin-top: 100px;
	background-color: #F5F2EB;
	border: 1px solid #CCC;
}
.sub-categories:hover{
	fill: red;
	shape-rendering: crispEdges;
}
.bar-label{
	fill: #000;
	text-anchor: middle;
	font-size: 18px;
}


.d3-tip {
	line-height: 1;
	padding: 6px;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	border-radius: 4px;
	font-size: 12px;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
  }

  /* Style northward tooltips specifically */
  .d3-tip.n:after {
	margin: -2px 0 0 0;
	top: 100%;
	left: 0;
  }

.title {
	font-size: 20px;
}
